diffusers==0.36.0
transformers==4.55.2
datasets>=2.19.0,<=3.6.0
accelerate
einops
easydict
numpy==1.26.4
tqdm
jsonlines>=4.0.0
imageio[ffmpeg]
websockets
msgpack
opencv-python
matplotlib
ftfy
safetensors
Pillow
scipy
huggingface-hub[cli]
av
wandb
metaworld==3.0.0
